<app-navbar></app-navbar> 
  <div id="registrationForm" class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <label for="first-name">First Name </label>
      <input class="registrationInput, form-control tm-search-input" id="first-name" type="text" formControlName="firstName" placeholder="Enter your first name">
      <label for="last-name">Last Name </label>
      <input class="registrationInput, form-control tm-search-input" id="last-name" type="text" formControlName="lastName" placeholder="Enter your last name">
      <p>Complete the form to enable button.</p>
      <button type="submit" [disabled] = "!profileForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="row tm-mb-90">            
        
    </div> <!-- row -->
  </div> <!-- container-fluid, tm-container-content -->
  <app-footer></app-footer>
  