<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a (click)="goToHomepage();" class="navbar-brand">
            <img src="./assets/inquiry_logo.png" title="inquiry_logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1">Cart</a>
                </li>
                <li class="nav-item">
                    <a (click)="goToLogin();" class="nav-link nav-link-2">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>