<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="goToHomepage();">
            <img src ="./assets/inquiry_logo.png" title="inquiry_logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link nav-link-1">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-2">Login</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>
  
  <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
    <form class="d-flex tm-search-form">
        <ul>
            <ul><input class="form-control tm-search-input" type="text" placeholder="Username" autofocus></ul>
            <ul><input class="form-control tm-search-input" type="password" placeholder="Password"></ul>
            <ul>
                <button (click)="goToRegistration();" type="button" class="btn btn-primary">Register</button>
                <button type="button" class="btn btn-primary">Sign In</button>
            </ul>
        </ul>
    </form>
  </div>
  
  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="row tm-mb-90">            
        
    </div> <!-- row -->
  </div> <!-- container-fluid, tm-container-content -->
  
  <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">About Inquiry</h3>
                <p>Inquiry is a place where knowledge and insight can be shared from anyone, insight that includes career, culture, hobbies, personal life, and much more!</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                <ul class="tm-footer-links pl-0">
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Our Company</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Our Policy</h3>
                <ul class="tm-footer-links pl-0">
                    <li><a href="#" >Terms of Use</a></li>
                    <li><a href="#" >Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                Copyright 2022 Inquiry. All rights reserved.
            </div>
        </div>
    </div>
  </footer>