<app-navbar></app-navbar>
<div id="authenticator">
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title data-test-id="getStateTextTest">{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="isLoginState();">
      <form (ngSubmit)="signIn()" [formGroup]="loginForm">
        <input matInput placeholder="Enter your email" class="form-control" formControlName="username" name="username"
          id="username" data-test-id="usernameTest" required>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" class="form-control"
          formControlName="password" name="password" id="password" data-test-id="passwordTest" required>
        <button [disabled]="!this.loginForm.valid" class="btn btn-primary" data-test-id="loginButton">Login</button>
        <div *ngIf="loginError" class="text text-danger">
          {{loginErrorMessage}}
        </div>
        <div *ngIf="!this.loginForm.valid && this.loginForm.touched" class="text-danger">
          All fields are required to be filled out.
        </div>
      </form>
    </div>
    <div *ngIf="isForgotPasswordState();">
      <input matInput placeholder="Enter your email" name="forgotPassword"
      id="forgotPassword" required>
      <button class="btn btn-primary">Reset</button>
    </div>
    <mat-card-actions align="end">
      <button mat-flat-button (click)="onLoginClick();" data-test-id="loginButtonTest">Login</button>
      <button mat-flat-button (click)="onForgotPasswordClick();" data-test-id="forgotPasswordButtonTest">Forgot Password</button>
      <button mat-flat-button (click)="goToSignUp();">Create an Account</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row tm-mb-90">

  </div> <!-- row -->
</div> <!-- container-fluid, tm-container-content -->
<app-footer></app-footer>