<app-navbar></app-navbar>
<div id="registrationForm" class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
  data-image-src="img/hero.jpg" *ngIf="!isConfirm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <h2 class="card-title text-center">Create your Inquiry account</h2>
          <div class="card-body py-md-4">
            <form _lpchecked="1" [formGroup]= "registrationForm" data-test-id="userForm">
              <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" data-test-id="firstName"
                  formControlName="firstName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" data-test-id="lastName"
                  formControlName="lastName">
              </div>
              <div class="form-group">
                <label>Enter Date of Birth</label>
                <input type="date" class="form-control" id="DOB" data-test-id="yearBorn" formControlName="yearBorn">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" [(ngModel)]= "user.email" placeholder="Email" data-test-id="email"
                  formControlName="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" [(ngModel)]= "user.password" placeholder="Password" data-test-id="password"
                  formControlName="password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="confirm-password" placeholder="Re-password"
                  data-test-id="reEnteredPassword" formControlName="reEnteredPassword">
              </div>
              <div *ngIf= "!this.registrationForm.valid && this.registrationForm.touched" class="text-danger">
                All fields are required to be filled out.
              </div>
              <div *ngIf= "this.reEnteredPassword != this.password" class="text-danger">
                Passwords do not match.
              </div>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <input type="checkbox" required> &nbsp; I accept the terms and conditions
                <button data-test-id="submit" [disabled]= "!this.registrationForm.valid || this.reEnteredPassword != this.password" type="submit"
                  class="btn btn-primary" (click)="signUp()">Create Account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tm-hero d-flex justify-content-center align-items-center" *ngIf="isConfirm">
  <div class="row">
    <div class="col mb-2">
      <label for="code" class="form-label">Code:</label>
      <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
    </div>
  </div>
  <div class="row">
    <div class="col d-grid">
      <button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success" [disabled]="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
        Confirm
      </button>
    </div>
  </div>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row tm-mb-90">



  </div> <!-- row -->
</div> <!-- container-fluid, tm-container-content -->
  <app-footer></app-footer>
