<app-navbar></app-navbar>
<section>
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">"I shall endeavour still further to prosecute this inquiry, an inquiry I trust not merely speculative, but of sufficient moment to inspire the pleasing hope of its becoming essentially beneficial to mankind." - Edward Jenner</h1>
                    <h2>Have ideas you want to share?</h2>
                    <div>
                        <button class="btn btn-primary">
                            Create a post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>