<app-navbar></app-navbar>
<section *ngIf="!postButtonStatus">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">"I shall endeavour still further to prosecute this inquiry, an
                        inquiry I trust not merely speculative, but of sufficient moment to inspire the pleasing hope of
                        its becoming essentially beneficial to mankind." - Edward Jenner</h1>
                    <h2>Have ideas you want to share?</h2>
                    <div>
                        <button data-test-id="postButtonClickedTest" class="btn btn-primary" (click)="postButtonClicked()">
                            Create a post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="postButtonStatus">
    <div class="tm-hero d-flex justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6 col-xs-12" class="center">
                <div class="well well-sm well-social-post">
                    <form [formGroup]="topics">
                        <ul class="list-inline" id='list_PostActions'>
                            <li><img class="img-fluid" src="../../assets/inquiry_logo.png"></li>
                            <input data-test-id="subjectLineTest" type="text" class="form-control" formControlName="subjectLine" placeholder="Subject of topic">
                        </ul>
                        <textarea data-test-id="postTextTest" formControlName="postText" class="form-control"
                            placeholder="What would you like to share?"></textarea>
                        <ul class='list-inline post-actions'>
                            <h3>Please select the choices that best suit the post you are creating:</h3>
                            <li class="pull-left">
                                <mat-checkbox data-test-id="academicsCheckBoxTest" formControlName="academics">Academics</mat-checkbox><br>
                                <mat-checkbox data-test-id="newsCheckBoxTest" formControlName="news">News</mat-checkbox><br>
                                <mat-checkbox data-test-id="careerCheckBoxTest" formControlName="career">Career</mat-checkbox>
                            </li>
                            <li class="pull-right">
                                <button data-test-id="savePostTestButton" class="btn btn-primary" (click)="savePost()">Post</button>
                            </li>
                            <li>
                                <br><small class="center" id="fullNameHelp" class="form-text text-muted">Please be aware
                                    anything you post
                                    is public and may be viewed by ALL audiences. Please be thoughtful in your
                                    response. We thank you for sharing your inquiry with the world from the creators of
                                    Inquiry.</small>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>