<div class="mb-4">
    <div class="small mb-3">Links</div>
    <ul class="nav flex-column nav-pills">
      <li class="nav-item"><a routerLink="/academics" class="d-flex nav-link">Academics<span
            class="ml-auto align-self-center badge badge-secondary badge-pill">12</span></a></li>
      <li class="nav-item"><a routerLink="/news" class="d-flex nav-link">News<span
            class="ml-auto align-self-center badge badge-secondary badge-pill">4</span></a></li>
      <li class="nav-item"><a routerLink="/career" class="d-flex nav-link">Careers<span
            class="ml-auto align-self-center badge badge-secondary badge-pill">9</span></a></li>
    </ul>
  </div>